BasedOnStyle: LLVM

# 缩进控制
IndentWidth: 4           # 一个缩进=4个空格
TabWidth: 4              # 按Tab键=插入4个空格
UseTab: Never            # 禁止使用真实的Tab字符，只用空格

# 每行最大长度（超出换行）
ColumnLimit: 120

# 函数大括号风格
BreakBeforeBraces: Allman   # 大括号单独一行（推荐）

# 对齐优化
AlignConsecutiveAssignments: true        # 等号对齐
AlignConsecutiveDeclarations: true       # 声明对齐
AlignTrailingComments: true              # 注释对齐

# 命名空间内部缩进
NamespaceIndentation: All

# include 文件相关
IncludeBlocks: Preserve
SortIncludes: false                      # 保留头文件原来的顺序

# 函数参数换行规则
BinPackParameters: false

# 括号空格控制
SpacesInParentheses: false
SpaceBeforeParens: ControlStatements
SpaceAfterCStyleCast: true


